%p#notice= notice
%h1 Targets
%table
  %thead
    %tr
      %th Code
      %th Description
      %th Measure
      %th{:colspan => "3"}
  %tbody
    - @targets.each do |target|
      %tr
        %td= target.code
        %td= target.description
        %td= target.measure_id
        %td= link_to 'Show', target
        %td= link_to 'Edit', edit_target_path(target)
        %td= link_to 'Destroy', target, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Target', new_target_path
