
%h2.sub-header= t(:targets)
= paginate @targets
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th= t('target.code')
        %th= t('target.description')
        %th= t('target.measure')
    %tbody
      - @targets.each do |target|
        %tr
          %td= link_to target.code, target
          %td= target.description
          %td= link_to target.measure_code, measure_path(target.measure_id), class: 'tooltips', title: target.measure_title
          %td= link_to "", edit_target_path(target), class: "tooltips glyphicon glyphicon-pencil", title: t(:edit)
          %td= link_to "", target, method: :delete, data: { confirm: t(:target_delete_confirmation) }, class: "tooltips glyphicon glyphicon-trash", title: t(:delete)
  = paginate @targets

= link_to t(:new_target), new_target_path, class:"btn btn-primary"
