<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @target.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @target.description %>
</p>

<p>
  <strong>Measure:</strong>
  <%= @target.measure_id %>
</p>

<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
