.page-header.h2= t(:show_target)

= simple_form_for(@target) do |f|
  = f.input :code, disabled: true
  = f.input :description, as: :text, disabled: true
  = f.input :measure_id, as: :string, input_html: { value: @target.measure_full_title }, disabled: true

= link_to t(:edit), edit_target_path(@target), class:"btn btn-primary"
= link_to t(:back), targets_path, class:"btn btn-danger pull-right"
