
%h2.sub-header= t(:allocations)
= paginate @allocations
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th= t('allocation.protocol')
        %th= t('allocation.start_date')
        %th= t('allocation.amount_cents')
        %th= t('allocation.project')
    %tbody
      - @allocations.each do |allocation|
        %tr
          %td= link_to allocation.protocol, allocation
          %td= allocation.start_date
          %td= allocation.amount
          %td= link_to allocation.project_code, project_path(allocation.project_id), class: 'tooltips', title: allocation.project_title
          %td= link_to "", edit_allocation_path(allocation), class: "tooltips glyphicon glyphicon-pencil", title: t(:edit)
          %td= link_to "", allocation, method: :delete, data: { confirm: t(:allocation_delete_confirmation) }, class: "tooltips glyphicon glyphicon-trash", title: t(:delete)
  = paginate @allocations

= link_to t(:new_allocation), new_allocation_path, class:"btn btn-primary"
