<p id="notice"><%= notice %></p>

<p>
  <strong>Protocol:</strong>
  <%= @allocation.protocol %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @allocation.start_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @allocation.amount %>
</p>

<p>
  <strong>Project:</strong>
  <%= @allocation.project_id %>
</p>

<%= link_to 'Edit', edit_allocation_path(@allocation) %> |
<%= link_to 'Back', allocations_path %>
