= form_for(invoice) do |f|
  - if invoice.errors.any?
    #error_explanation
      %h2
        = pluralize(invoice.errors.count, "error")
        prohibited this invoice from being saved:
      %ul
        - invoice.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :date_of_issue
    = f.date_select :date_of_issue
  .field
    = f.label :contractor_fiscal_code
    = f.text_field :contractor_fiscal_code
  .field
    = f.label :contractor_name
    = f.text_field :contractor_name
  .field
    = f.label :amount
    = f.number_field :amount
  .field
    = f.label :payoff_deadline
    = f.date_select :payoff_deadline
  .field
    = f.label :undertaking_certificate_id
    = f.number_field :undertaking_certificate_id
  .actions
    = f.submit
