<p id="notice"><%= notice %></p>

<p>
  <strong>Amount cents:</strong>
  <%= @contract.amount_cents %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @contract.start_date %>
</p>

<p>
  <strong>Subproject:</strong>
  <%= @contract.subproject_id %>
</p>

<p>
  <strong>Contractor:</strong>
  <%= @contract.contractor_id %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
