%p#notice= notice
%p
  %strong Amount cents:
  = @contract.amount_cents
%p
  %strong Start date:
  = @contract.start_date
%p
  %strong Subproject:
  = @contract.subproject_id
%p
  %strong Contractor:
  = @contract.contractor_id
= link_to 'Edit', edit_contract_path(@contract)
|
= link_to 'Back', contracts_path
