<%= form_for(accountable) do |f| %>
  <% if accountable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accountable.errors.count, "error") %> prohibited this accountable from being saved:</h2>

      <ul>
      <% accountable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :fax %>
    <%= f.text_field :fax %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :organisation_id %>
    <%= f.number_field :organisation_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
