%p#notice= notice
%p
  %strong Surname:
  = @accountable.surname
%p
  %strong Name:
  = @accountable.name
%p
  %strong Phone:
  = @accountable.phone
%p
  %strong Fax:
  = @accountable.fax
%p
  %strong Email:
  = @accountable.email
%p
  %strong Organisation:
  = @accountable.organisation_id
= link_to 'Edit', edit_accountable_path(@accountable)
|
= link_to 'Back', accountables_path
