<p id="notice"><%= notice %></p>

<p>
  <strong>Surname:</strong>
  <%= @accountable.surname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @accountable.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @accountable.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @accountable.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @accountable.email %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @accountable.organisation_id %>
</p>

<%= link_to 'Edit', edit_accountable_path(@accountable) %> |
<%= link_to 'Back', accountables_path %>
