 
%h1 Organisations
%table
  %thead
    %tr
      %th Code
      %th Name
      %th Address
      %th Phone
      %th Fax
      %th Contact persion
      %th Email
      %th Is this my organisation
      %th{:colspan => "3"}
  %tbody
    - @organisations.each do |organisation|
      %tr
        %td= organisation.code
        %td= organisation.name
        %td= organisation.address
        %td= organisation.phone
        %td= organisation.fax
        %td= organisation.contact_persion
        %td= organisation.email
        %td= organisation.is_this_my_organisation
        %td= link_to 'Show', organisation
        %td= link_to 'Edit', edit_organisation_path(organisation)
        %td= link_to 'Destroy', organisation, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Organisation', new_organisation_path
