<%= form_for(undertaking_certificate) do |f| %>
  <% if undertaking_certificate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(undertaking_certificate.errors.count, "error") %> prohibited this undertaking_certificate from being saved:</h2>

      <ul>
      <% undertaking_certificate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :protocol %>
    <%= f.text_field :protocol %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_area :title %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>

  <div class="field">
    <%= f.label :subproject_id %>
    <%= f.number_field :subproject_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
