= simple_form_for(user) do |f|
  - if user.errors.any?
    #error_explanation
      - user.errors.full_messages.each do |message|
        .alert.alert-danger{:role => "alert"}
          %span.glyphicon.glyphicon-exclamation-sign
          =message

  = f.input :surname
  = f.input :name
  = f.input :email
  = f.input :organisation_id, as: :select, collection: @organisations_for_select_box, class: 'sel2'
  = f.input :phone
  = f.input :admin
  = f.input :manager

  = f.button :submit, class:"btn btn-success"
  = link_to t(:cancel), 'javascript:history.go(-1);', class:"btn btn-danger pull-right"
