.page-header.h2= t(:show_user)

= simple_form_for(@user) do |f|
  = f.input :surname, disabled: true
  = f.input :name, disabled: true
  = f.input :email, disabled: true
  = f.input :organisation_id, as: :string, input_html: { value: @user.organisation_full_title }, disabled: true
  = f.input :phone, disabled: true
  = f.input :role, disabled: true
  

= link_to t(:edit), edit_user_path(@user), class:"btn btn-primary"
= link_to t(:back), users_path, class:"btn btn-danger pull-right"
