<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_area :title %>
  </div>

  <div class="field">
    <%= f.label :iis_code %>
    <%= f.text_field :iis_code %>
  </div>

  <div class="field">
    <%= f.label :prefecture_code %>
    <%= f.number_field :prefecture_code %>
  </div>

  <div class="field">
    <%= f.label :incorporation_date %>
    <%= f.date_select :incorporation_date %>
  </div>

  <div class="field">
    <%= f.label :incorporation_protocol %>
    <%= f.text_field :incorporation_protocol %>
  </div>

  <div class="field">
    <%= f.label :phase_code %>
    <%= f.number_field :phase_code %>
  </div>

  <div class="field">
    <%= f.label :priority_code %>
    <%= f.number_field :priority_code %>
  </div>

  <div class="field">
    <%= f.label :classification_code %>
    <%= f.number_field :classification_code %>
  </div>

  <div class="field">
    <%= f.label :has_multiple_collective_decisions %>
    <%= f.check_box :has_multiple_collective_decisions %>
  </div>

  <div class="field">
    <%= f.label :credit_first_quarter %>
    <%= f.number_field :credit_first_quarter %>
  </div>

  <div class="field">
    <%= f.label :credit_second_quarter %>
    <%= f.number_field :credit_second_quarter %>
  </div>

  <div class="field">
    <%= f.label :credit_third_quarter %>
    <%= f.number_field :credit_third_quarter %>
  </div>

  <div class="field">
    <%= f.label :credit_fourth_quarter %>
    <%= f.number_field :credit_fourth_quarter %>
  </div>

  <div class="field">
    <%= f.label :payments_until_last_year_according_to_sae %>
    <%= f.number_field :payments_until_last_year_according_to_sae %>
  </div>

  <div class="field">
    <%= f.label :IBAN %>
    <%= f.text_field :IBAN %>
  </div>

  <div class="field">
    <%= f.label :expense_code %>
    <%= f.text_field :expense_code %>
  </div>

  <div class="field">
    <%= f.label :PPI_payments %>
    <%= f.number_field :PPI_payments %>
  </div>

  <div class="field">
    <%= f.label :proposed_credits %>
    <%= f.text_area :proposed_credits %>
  </div>

  <div class="field">
    <%= f.label :credit_limit_of_implementation_body %>
    <%= f.number_field :credit_limit_of_implementation_body %>
  </div>

  <div class="field">
    <%= f.label :comments %>
    <%= f.text_area :comments %>
  </div>

  <div class="field">
    <%= f.label :supervisor_body_id %>
    <%= f.number_field :supervisor_body_id %>
  </div>

  <div class="field">
    <%= f.label :act_id %>
    <%= f.number_field :act_id %>
  </div>

  <div class="field">
    <%= f.label :collective_decision_id %>
    <%= f.number_field :collective_decision_id %>
  </div>

  <div class="field">
    <%= f.label :budget %>
    <%= f.number_field :budget %>
  </div>

  <div class="field">
    <%= f.label :budget_history %>
    <%= f.text_area :budget_history %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
