- @navigation_path = t(:project_details)

%div.projects

  -# %span.controls
    %span.red
      = link_to t(:delete), project_path(@project), :method => :delete, :confirm => t(:confirm_delete) if admin?
    = "|" if admin?
    = link_to t(:edit), edit_project_path(@project) if admin? or manager?



  .field
    %span.label
      = t('project.title') + ":"
    %span.data
      = @project.title

  .field
    %span.label
      = t('project.collective_decision') + ":"
    %span.data
      = link_to @project.collective_decision.full_title, @project.collective_decision if admin? or manager?
      = @project.collective_decision.full_title unless admin? or manager?
  .field
    %span.label
      = t('project.ppi_code') + ":"
    %span.data
      = @project.ppi_code

  .field
    %span.label
      = t('project.iis_code') + ":"
    %span.data
      = @project.iis_code

  .field
    %span.label
      = t('project.implementation_body') + ":"
    %span.data
      = link_to @project.implementation_body.department_name, @project.implementation_body

  .field
    %span.label
      = t('project.user') + ":"
    %span.data
      = link_to @project.user.full_name, @project.user if admin? or manager? or @project.user == cu
      = @project.user.full_name unless admin? or manager? or @project.user == cu

  .field
    %span.label
      = t('project.iban') + ":"
    %span.data
      = @project.iban

  .field
    %span.label
      = t('project.prefecture') + ":"
    %span.data
      = @project.prefecture_name

  .field
    %span.label
      = t('project.budget') + ":"
    %span.data
      = eu @project.budget

  .field
    %span.label
      = t('project.credit') + ":"
    %span.data
      = eu @project.credit

  .field
    %span.label
      = t('project.credit_date') + ":"
    %span.data
      = dt @project.credit_date

  .field
    %span.label
      = t('project.credit_protocol') + ":"
    %span.data
      = @project.credit_protocol

  .field
    %span.label
      = t('project.credit_tun') + ":"
    %span.data
      = link_to @project.credit_tun.force_encoding('UTF-8'), @project.credit_tun_link if @project.credit_tun

  .field
    %span.label
      = t('project.total_allocation') + ":"
    %span.data
      = eu @project.total_allocation

  .field
    %span.label
      = t('project.credit_limit') + ":"
    %span.data
      = eu @project.credit_limit

  .field
    %span.label
      = t('project.credit_balance') + ":"
    %span.data
      = eu @project.credit_balance

  .field
    %span.label
      = t('project.total_due') + ":"
    %span.data{:class => colorize_if_due(@project)}
      = eu @project.total_due

  .field
    %span.label.sub
      = t('project.due_30') + ":"
    %span.data{:class => colorize_if_due(@project)}
      = eu @project.due_30

  .field
    %span.label.sub
      = t('project.due_60') + ":"
    %span.data{:class => colorize_if_due(@project)}
      = eu @project.due_60

  .field
    %span.label.sub
      = t('project.due_90') + ":"
    %span.data{:class => colorize_if_due(@project)}
      = eu @project.due_90

  .field
    %span.label.sub
      = t('project.due_90_plus') + ":"
    %span.data{:class => colorize_if_due(@project)}
      = eu @project.due_90_plus

  .field
    %span.label
      = t('project.comments') + ":"
    %span.data
      = @project.comments

  .field
    %span.label
      = t :certificates
      \:
    %span.data_no_border
      %ul
        - @project.certificates.each do |certificate|
          %li
            = link_to certificate.full_title, certificate, class: colorize_if_due(certificate)
            %br

        .create_new_element
          = link_to t('new_certificate'), new_certificate_path(:pr_id => @project.id)
