<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @project.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Iis code:</strong>
  <%= @project.iis_code %>
</p>

<p>
  <strong>Prefecture code:</strong>
  <%= @project.prefecture_code %>
</p>

<p>
  <strong>Incorporation date:</strong>
  <%= @project.incorporation_date %>
</p>

<p>
  <strong>Incorporation protocol:</strong>
  <%= @project.incorporation_protocol %>
</p>

<p>
  <strong>Phase code:</strong>
  <%= @project.phase_code %>
</p>

<p>
  <strong>Priority code:</strong>
  <%= @project.priority_code %>
</p>

<p>
  <strong>Classification code:</strong>
  <%= @project.classification_code %>
</p>

<p>
  <strong>Has multiple collective decisions:</strong>
  <%= @project.has_multiple_collective_decisions %>
</p>

<p>
  <strong>Credit first quarter:</strong>
  <%= @project.credit_first_quarter %>
</p>

<p>
  <strong>Credit second quarter:</strong>
  <%= @project.credit_second_quarter %>
</p>

<p>
  <strong>Credit third quarter:</strong>
  <%= @project.credit_third_quarter %>
</p>

<p>
  <strong>Credit fourth quarter:</strong>
  <%= @project.credit_fourth_quarter %>
</p>

<p>
  <strong>Payments until last year according to sae:</strong>
  <%= @project.payments_until_last_year_according_to_sae %>
</p>

<p>
  <strong>Iban:</strong>
  <%= @project.IBAN %>
</p>

<p>
  <strong>Expense code:</strong>
  <%= @project.expense_code %>
</p>

<p>
  <strong>Ppi payments:</strong>
  <%= @project.PPI_payments %>
</p>

<p>
  <strong>Proposed credits:</strong>
  <%= @project.proposed_credits %>
</p>

<p>
  <strong>Credit limit of implementation body:</strong>
  <%= @project.credit_limit_of_implementation_body %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @project.comments %>
</p>

<p>
  <strong>Supervisor body:</strong>
  <%= @project.supervisor_body_id %>
</p>

<p>
  <strong>Act:</strong>
  <%= @project.act_id %>
</p>

<p>
  <strong>Collective decision:</strong>
  <%= @project.collective_decision_id %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @project.budget %>
</p>

<p>
  <strong>Budget history:</strong>
  <%= @project.budget_history %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
