= simple_form_for(act_plan) do |f|
  - if act_plan.errors.any?
    #error_explanation
      - act_plan.errors.full_messages.each do |message|
        .alert.alert-danger{:role => "alert"}
          %span.glyphicon.glyphicon-exclamation-sign
          =message

  = f.input :code
  = f.input :description, as: :text
  = f.input :target_id
  
  = f.button :submit, class:"btn btn-success"
  = link_to t(:cancel), 'javascript:history.go(-1);', class:"btn btn-danger pull-right"
