<p id="notice"><%= notice %></p>

<h1>Act Plans</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Target</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @act_plans.each do |act_plan| %>
      <tr>
        <td><%= act_plan.code %></td>
        <td><%= act_plan.description %></td>
        <td><%= act_plan.target_id %></td>
        <td><%= link_to 'Show', act_plan %></td>
        <td><%= link_to 'Edit', edit_act_plan_path(act_plan) %></td>
        <td><%= link_to 'Destroy', act_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Act Plan', new_act_plan_path %>
