<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contractor.name %>
</p>

<p>
  <strong>Fiscal code:</strong>
  <%= @contractor.fiscal_code %>
</p>

<p>
  <strong>Tax department:</strong>
  <%= @contractor.tax_department %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contractor.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contractor.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @contractor.fax %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @contractor.contact_person %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contractor.email %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @contractor.comments %>
</p>

<%= link_to 'Edit', edit_contractor_path(@contractor) %> |
<%= link_to 'Back', contractors_path %>
