<p id="notice"><%= notice %></p>

<p>
  <strong>Update version:</strong>
  <%= @contract_update.update_version %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @contract_update.amount %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @contract_update.start_date %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @contract_update.comments %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @contract_update.contract_id %>
</p>

<%= link_to 'Edit', edit_contract_update_path(@contract_update) %> |
<%= link_to 'Back', contract_updates_path %>
