<%= form_for(expence_forecast) do |f| %>
  <% if expence_forecast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expence_forecast.errors.count, "error") %> prohibited this expence_forecast from being saved:</h2>

      <ul>
      <% expence_forecast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :january %>
    <%= f.number_field :january %>
  </div>

  <div class="field">
    <%= f.label :february %>
    <%= f.number_field :february %>
  </div>

  <div class="field">
    <%= f.label :march %>
    <%= f.number_field :march %>
  </div>

  <div class="field">
    <%= f.label :april %>
    <%= f.number_field :april %>
  </div>

  <div class="field">
    <%= f.label :may %>
    <%= f.number_field :may %>
  </div>

  <div class="field">
    <%= f.label :june %>
    <%= f.number_field :june %>
  </div>

  <div class="field">
    <%= f.label :july %>
    <%= f.number_field :july %>
  </div>

  <div class="field">
    <%= f.label :august %>
    <%= f.number_field :august %>
  </div>

  <div class="field">
    <%= f.label :september %>
    <%= f.number_field :september %>
  </div>

  <div class="field">
    <%= f.label :october %>
    <%= f.number_field :october %>
  </div>

  <div class="field">
    <%= f.label :november %>
    <%= f.number_field :november %>
  </div>

  <div class="field">
    <%= f.label :december %>
    <%= f.number_field :december %>
  </div>

  <div class="field">
    <%= f.label :next_year %>
    <%= f.number_field :next_year %>
  </div>

  <div class="field">
    <%= f.label :next_two_years %>
    <%= f.number_field :next_two_years %>
  </div>

  <div class="field">
    <%= f.label :next_three_years %>
    <%= f.number_field :next_three_years %>
  </div>

  <div class="field">
    <%= f.label :next_four_years %>
    <%= f.number_field :next_four_years %>
  </div>

  <div class="field">
    <%= f.label :next_five_years %>
    <%= f.number_field :next_five_years %>
  </div>

  <div class="field">
    <%= f.label :subproject_id %>
    <%= f.number_field :subproject_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
