<p id="notice"><%= notice %></p>

<h1>Expence Forecasts</h1>

<table>
  <thead>
    <tr>
      <th>January</th>
      <th>February</th>
      <th>March</th>
      <th>April</th>
      <th>May</th>
      <th>June</th>
      <th>July</th>
      <th>August</th>
      <th>September</th>
      <th>October</th>
      <th>November</th>
      <th>December</th>
      <th>Next year</th>
      <th>Next two years</th>
      <th>Next three years</th>
      <th>Next four years</th>
      <th>Next five years</th>
      <th>Subproject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expence_forecasts.each do |expence_forecast| %>
      <tr>
        <td><%= expence_forecast.january %></td>
        <td><%= expence_forecast.february %></td>
        <td><%= expence_forecast.march %></td>
        <td><%= expence_forecast.april %></td>
        <td><%= expence_forecast.may %></td>
        <td><%= expence_forecast.june %></td>
        <td><%= expence_forecast.july %></td>
        <td><%= expence_forecast.august %></td>
        <td><%= expence_forecast.september %></td>
        <td><%= expence_forecast.october %></td>
        <td><%= expence_forecast.november %></td>
        <td><%= expence_forecast.december %></td>
        <td><%= expence_forecast.next_year %></td>
        <td><%= expence_forecast.next_two_years %></td>
        <td><%= expence_forecast.next_three_years %></td>
        <td><%= expence_forecast.next_four_years %></td>
        <td><%= expence_forecast.next_five_years %></td>
        <td><%= expence_forecast.subproject_id %></td>
        <td><%= link_to 'Show', expence_forecast %></td>
        <td><%= link_to 'Edit', edit_expence_forecast_path(expence_forecast) %></td>
        <td><%= link_to 'Destroy', expence_forecast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expence Forecast', new_expence_forecast_path %>
