<p id="notice"><%= notice %></p>

<p>
  <strong>January:</strong>
  <%= @expence_forecast.january %>
</p>

<p>
  <strong>February:</strong>
  <%= @expence_forecast.february %>
</p>

<p>
  <strong>March:</strong>
  <%= @expence_forecast.march %>
</p>

<p>
  <strong>April:</strong>
  <%= @expence_forecast.april %>
</p>

<p>
  <strong>May:</strong>
  <%= @expence_forecast.may %>
</p>

<p>
  <strong>June:</strong>
  <%= @expence_forecast.june %>
</p>

<p>
  <strong>July:</strong>
  <%= @expence_forecast.july %>
</p>

<p>
  <strong>August:</strong>
  <%= @expence_forecast.august %>
</p>

<p>
  <strong>September:</strong>
  <%= @expence_forecast.september %>
</p>

<p>
  <strong>October:</strong>
  <%= @expence_forecast.october %>
</p>

<p>
  <strong>November:</strong>
  <%= @expence_forecast.november %>
</p>

<p>
  <strong>December:</strong>
  <%= @expence_forecast.december %>
</p>

<p>
  <strong>Next year:</strong>
  <%= @expence_forecast.next_year %>
</p>

<p>
  <strong>Next two years:</strong>
  <%= @expence_forecast.next_two_years %>
</p>

<p>
  <strong>Next three years:</strong>
  <%= @expence_forecast.next_three_years %>
</p>

<p>
  <strong>Next four years:</strong>
  <%= @expence_forecast.next_four_years %>
</p>

<p>
  <strong>Next five years:</strong>
  <%= @expence_forecast.next_five_years %>
</p>

<p>
  <strong>Subproject:</strong>
  <%= @expence_forecast.subproject_id %>
</p>

<%= link_to 'Edit', edit_expence_forecast_path(@expence_forecast) %> |
<%= link_to 'Back', expence_forecasts_path %>
