<p id="notice"><%= notice %></p>

<h1>Axes</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @axes.each do |axis| %>
      <tr>
        <td><%= axis.code %></td>
        <td><%= axis.description %></td>
        <td><%= link_to 'Show', axis %></td>
        <td><%= link_to 'Edit', edit_axis_path(axis) %></td>
        <td><%= link_to 'Destroy', axis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Axis', new_axis_path %>
