<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @axis.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @axis.description %>
</p>

<%= link_to 'Edit', edit_axis_path(@axis) %> |
<%= link_to 'Back', axes_path %>
