<p id="notice"><%= notice %></p>

<p>
  <strong>Protocol:</strong>
  <%= @collective_decision_update.protocol %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @collective_decision_update.start_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @collective_decision_update.description %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @collective_decision_update.comments %>
</p>

<p>
  <strong>Collective decision:</strong>
  <%= @collective_decision_update.collective_decision_id %>
</p>

<%= link_to 'Edit', edit_collective_decision_update_path(@collective_decision_update) %> |
<%= link_to 'Back', collective_decision_updates_path %>
