%p#notice= notice
%h1 Schedule Actions
%table
  %thead
    %tr
      %th Description
      %th Start date
      %th End date
      %th Schedule
      %th{:colspan => "3"}
  %tbody
    - @schedule_actions.each do |schedule_action|
      %tr
        %td= schedule_action.description
        %td= schedule_action.start_date
        %td= schedule_action.end_date
        %td= schedule_action.schedule_id
        %td= link_to 'Show', schedule_action
        %td= link_to 'Edit', edit_schedule_action_path(schedule_action)
        %td= link_to 'Destroy', schedule_action, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Schedule Action', new_schedule_action_path
