%p#notice= notice
%h1 Measures
%table
  %thead
    %tr
      %th Code
      %th Description
      %th Axis
      %th{:colspan => "3"}
  %tbody
    - @measures.each do |measure|
      %tr
        %td= measure.code
        %td= measure.description
        %td= measure.axis_id
        %td= link_to 'Show', measure
        %td= link_to 'Edit', edit_measure_path(measure)
        %td= link_to 'Destroy', measure, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Measure', new_measure_path
