= form_for(subproject) do |f|
  - if subproject.errors.any?
    #error_explanation
      %h2
        = pluralize(subproject.errors.count, "error")
        prohibited this subproject from being saved:
      %ul
        - subproject.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :title
    = f.text_area :title
  .field
    = f.label :budget
    = f.number_field :budget
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :progress_code
    = f.number_field :progress_code
  .field
    = f.label :prefecture_code
    = f.number_field :prefecture_code
  .field
    = f.label :incorporation_date
    = f.date_select :incorporation_date
  .field
    = f.label :incorporation_protocol
    = f.text_field :incorporation_protocol
  .field
    = f.label :amendments
    = f.text_area :amendments
  .field
    = f.label :phase_code
    = f.number_field :phase_code
  .field
    = f.label :implementation_code
    = f.number_field :implementation_code
  .field
    = f.label :priority_code
    = f.number_field :priority_code
  .field
    = f.label :comments
    = f.text_area :comments
  .field
    = f.label :proposed_badget
    = f.number_field :proposed_badget
  .field
    = f.label :supervisor_body_id
    = f.number_field :supervisor_body_id
  .field
    = f.label :project_id
    = f.number_field :project_id
  .field
    = f.label :accountable_id
    = f.number_field :accountable_id
  .field
    = f.label :implementation_body_id
    = f.number_field :implementation_body_id
  .actions
    = f.submit
