<p id="notice"><%= notice %></p>

<h1>Subprojects</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th>Budget</th>
      <th>Description</th>
      <th>Progress code</th>
      <th>Prefecture code</th>
      <th>Incorporation date</th>
      <th>Incorporation protocol</th>
      <th>Amendments</th>
      <th>Phase code</th>
      <th>Implementation code</th>
      <th>Priority code</th>
      <th>Comments</th>
      <th>Proposed badget</th>
      <th>Supervisor body</th>
      <th>Project</th>
      <th>Accountable</th>
      <th>Implementation body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subprojects.each do |subproject| %>
      <tr>
        <td><%= subproject.code %></td>
        <td><%= subproject.title %></td>
        <td><%= subproject.budget %></td>
        <td><%= subproject.description %></td>
        <td><%= subproject.progress_code %></td>
        <td><%= subproject.prefecture_code %></td>
        <td><%= subproject.incorporation_date %></td>
        <td><%= subproject.incorporation_protocol %></td>
        <td><%= subproject.amendments %></td>
        <td><%= subproject.phase_code %></td>
        <td><%= subproject.implementation_code %></td>
        <td><%= subproject.priority_code %></td>
        <td><%= subproject.comments %></td>
        <td><%= subproject.proposed_badget %></td>
        <td><%= subproject.supervisor_body_id %></td>
        <td><%= subproject.project_id %></td>
        <td><%= subproject.accountable_id %></td>
        <td><%= subproject.implementation_body_id %></td>
        <td><%= link_to 'Show', subproject %></td>
        <td><%= link_to 'Edit', edit_subproject_path(subproject) %></td>
        <td><%= link_to 'Destroy', subproject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subproject', new_subproject_path %>
