<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @subproject.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @subproject.title %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @subproject.budget %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subproject.description %>
</p>

<p>
  <strong>Progress code:</strong>
  <%= @subproject.progress_code %>
</p>

<p>
  <strong>Prefecture code:</strong>
  <%= @subproject.prefecture_code %>
</p>

<p>
  <strong>Incorporation date:</strong>
  <%= @subproject.incorporation_date %>
</p>

<p>
  <strong>Incorporation protocol:</strong>
  <%= @subproject.incorporation_protocol %>
</p>

<p>
  <strong>Amendments:</strong>
  <%= @subproject.amendments %>
</p>

<p>
  <strong>Phase code:</strong>
  <%= @subproject.phase_code %>
</p>

<p>
  <strong>Implementation code:</strong>
  <%= @subproject.implementation_code %>
</p>

<p>
  <strong>Priority code:</strong>
  <%= @subproject.priority_code %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @subproject.comments %>
</p>

<p>
  <strong>Proposed badget:</strong>
  <%= @subproject.proposed_badget %>
</p>

<p>
  <strong>Supervisor body:</strong>
  <%= @subproject.supervisor_body_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @subproject.project_id %>
</p>

<p>
  <strong>Accountable:</strong>
  <%= @subproject.accountable_id %>
</p>

<p>
  <strong>Implementation body:</strong>
  <%= @subproject.implementation_body_id %>
</p>

<%= link_to 'Edit', edit_subproject_path(@subproject) %> |
<%= link_to 'Back', subprojects_path %>
