!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = t(:planner) + ": " + t(:planner_description)
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Planner
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "#"} Dashboard
            %li
              %a{:href => "#"} Settings
            %li
              %a{:href => "#"} Profile
            %li
              %a{:href => "#"} Help
          %form.navbar-form.navbar-right
            %input.form-control{:placeholder => "Search...", :type => "text"}/
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li.active
              %a{:href => "#"}
                Overview
                %span.sr-only (current)
            %li
              = link_to "act_plans", act_plans_path
            %li
              = link_to "acts", acts_path
            %li
              = link_to "allocations", allocations_path
            %li
              = link_to "axes", axes_path
            %li
              = link_to "collective_decision_updates", collective_decision_updates_path
            %li
              = link_to "collective_decisions", collective_decisions_path
            %li
              = link_to "contract_updates", contract_updates_path
            %li
              = link_to "contractors", contractors_path
            %li
              = link_to "contracts", contracts_path
            %li
              = link_to "expence_forecasts", expence_forecasts_path
            %li
              = link_to "invoices", invoices_path
            %li
              = link_to "measures", measures_path
            %li
              = link_to "organisations", organisations_path
            %li
              = link_to "payments", payments_path
            %li
              = link_to "projects", projects_path
            %li
              = link_to "schedule_actions", schedule_actions_path
            %li
              = link_to "schedules", schedules_path
            %li
              = link_to "subprojects", subprojects_path
            %li
              = link_to "targets", targets_path
            %li
              = link_to "undertaking_certificates", undertaking_certificates_path
            %li
              = link_to "users", users_path

        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          = yield
        -#   %h1.page-header Dashboard
        -#   .row.placeholders
        -#     .col-xs-6.col-sm-3.placeholder
        -#       %img.img-responsive{:alt => "Generic placeholder thumbnail", :height => "200", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "200"}/
        -#       %h4 Label
        -#       %span.text-muted Something else
        -#     .col-xs-6.col-sm-3.placeholder
        -#       %img.img-responsive{:alt => "Generic placeholder thumbnail", :height => "200", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "200"}/
        -#       %h4 Label
        -#       %span.text-muted Something else
        -#     .col-xs-6.col-sm-3.placeholder
        -#       %img.img-responsive{:alt => "Generic placeholder thumbnail", :height => "200", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "200"}/
        -#       %h4 Label
        -#       %span.text-muted Something else
        -#     .col-xs-6.col-sm-3.placeholder
        -#       %img.img-responsive{:alt => "Generic placeholder thumbnail", :height => "200", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "200"}/
        -#       %h4 Label
        -#       %span.text-muted Something else
          = yield
          -# %h2.sub-header Section title
          -# .table-responsive
          -#   %table.table.table-striped
          -#     %thead
          -#       %tr
          -#         %th #
          -#         %th Header
          -#         %th Header
          -#         %th Header
          -#         %th Header
          -#     %tbody
          -#       %tr
          -#         %td 1,001
          -#         %td Lorem
          -#         %td ipsum
          -#         %td dolor
          -#         %td sit
          -#       %tr
          -#         %td 1,003
          -#         %td Integer
          -#         %td nec
          -#         %td odio
          -#         %td Praesent
          -#       %tr
          -#         %td 1,003
          -#         %td libero
          -#         %td Sed
          -#         %td cursus
          -#         %td ante


            -# = yield

  %footer.footer
    .container-fluid
      %p.text-muted
        = t(:copyright)
