!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = t(:planner_full_title)
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css", :rel => "stylesheet"}/
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"}

  %body

    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand
            = link_to t(:planner), root_path, class: "navbar-brand tooltips", title: t(:planner_full_title)

        #navbar.navbar-collapse.collapse
          = if user_signed_in?
            %ul.nav.navbar-nav.navbar-right
              %li= link_to current_user.email if user_signed_in?
              %li= link_to "", destroy_user_session_path, method: :delete, data: { confirm: t(:logout_confirmation) }, class: "tooltips glyphicon glyphicon-off", title: t(:logout)
            %form.navbar-form.navbar-right
              = form_tag users_path, :method=>'post' do
                = text_field_tag  :search, params[:search], :id => 'search_field', placeholder: t(:search_placeholder)

    = if user_signed_in?
      .container-fluid
        .row
          .col-sm-3.col-md-2.sidebar
            %ul.nav.nav-sidebar
              %li= link_to_auto_active t(:act_plans),                   act_plans_path
              %li= link_to_auto_active t(:acts),                        acts_path
              %li= link_to_auto_active t(:allocations),                 allocations_path
              %li= link_to_auto_active t(:axes),                        axes_path
              %li= link_to_auto_active t(:collective_decision_updates), collective_decision_updates_path
              %li= link_to_auto_active t(:collective_decisions),        collective_decisions_path
              %li= link_to_auto_active t(:contract_updates),            contract_updates_path
              %li= link_to_auto_active t(:contractors),                 contractors_path
              %li= link_to_auto_active t(:contracts),                   contracts_path
              %li= link_to_auto_active t(:expence_forecasts),           expence_forecasts_path
              %li= link_to_auto_active t(:invoices),                    invoices_path
              %li= link_to_auto_active t(:measures),                    measures_path
              %li= link_to_auto_active t(:organisations),               organisations_path
              %li= link_to_auto_active t(:payments),                    payments_path
              %li= link_to_auto_active t(:projects),                    projects_path
              %li= link_to_auto_active t(:schedule_actions),            schedule_actions_path
              %li= link_to_auto_active t(:schedules),                   schedules_path
              %li= link_to_auto_active t(:subprojects),                 subprojects_path
              %li= link_to_auto_active t(:targets),                     targets_path
              %li= link_to_auto_active t(:undertaking_certificates),    undertaking_certificates_path
              %li= link_to_auto_active t(:users),                       users_path

    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      = content_tag(:p, notice, :class => 'notice') if notice.present?
      = content_tag(:p, alert, :class => 'alert') if alert.present?
      = yield

    :javascript
      $('select').select2();
        
    %footer.footer
      .container-fluid
        %p.text-muted= t(:copyright)

        -#   %h1.page-header Dashboard
        -#   .row.placeholders
        -#     .col-xs-6.col-sm-3.placeholder
        -#       %img.img-responsive{:alt => "Generic placeholder thumbnail", :height => "200", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "200"}/
        -#       %h4 Label
        -#       %span.text-muted Something else
        -#     .col-xs-6.col-sm-3.placeholder
        -#       %img.img-responsive{:alt => "Generic placeholder thumbnail", :height => "200", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "200"}/
        -#       %h4 Label
        -#       %span.text-muted Something else
        -#     .col-xs-6.col-sm-3.placeholder
        -#       %img.img-responsive{:alt => "Generic placeholder thumbnail", :height => "200", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "200"}/
        -#       %h4 Label
        -#       %span.text-muted Something else
        -#     .col-xs-6.col-sm-3.placeholder
        -#       %img.img-responsive{:alt => "Generic placeholder thumbnail", :height => "200", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "200"}/
        -#       %h4 Label
        -#       %span.text-muted Something else
          = yield
          -# %h2.sub-header Section title
          -# .table-responsive
          -#   %table.table.table-striped
          -#     %thead
          -#       %tr
          -#         %th #
          -#         %th Header
          -#         %th Header
          -#         %th Header
          -#         %th Header
          -#     %tbody
          -#       %tr
          -#         %td 1,001
          -#         %td Lorem
          -#         %td ipsum
          -#         %td dolor
          -#         %td sit
          -#       %tr
          -#         %td 1,003
          -#         %td Integer
          -#         %td nec
          -#         %td odio
          -#         %td Praesent
          -#       %tr
          -#         %td 1,003
          -#         %td libero
          -#         %td Sed
          -#         %td cursus
          -#         %td ante


            -# = yield
