
%h2.sub-header= t(:acts)
= paginate @acts
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th= t('act.code')
        %th= t('act.description')
        %th= t('act.act_plan')
    %tbody
      - @acts.each do |act|
        %tr
          %td= link_to act.code, act
          %td= act.description
          %td= link_to act.act_plan_code, act_plan_path(act.act_plan_id), class: 'tooltips', title: act.act_plan_title
          %td= link_to "", edit_act_path(act), class: "tooltips glyphicon glyphicon-pencil", title: t(:edit)
          %td= link_to "", act, method: :delete, data: { confirm: t(:act_delete_confirmation) }, class: "tooltips glyphicon glyphicon-trash", title: t(:delete)
  = paginate @acts

= link_to t(:new_act), new_act_path, class:"btn btn-primary"
